/* 
    General Styles
*/


@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


#logo{
    width: 100px;
}
#ancho_general{
    width: 1000px;
}
#corazon{
    color: red;
}
#corazon2{
    color: black;
}
#titles{
    //font-family: 'Press Start 2P', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
    color: tomato;
}
#little_titles{
    //font-family: 'Press Start 2P', cursive;
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    color: tomato;
}
